<div class="modal-header">
  <h3 class="modal-title">{{metadata.title}}</h3>
</div>

<div class="modal-body">
  <table>
    <tr ng-if="metadata.id">
      <td><b>Study id:</b></td>
      <td>&nbsp;&nbsp;</td>
      <td>{{metadata.id}}</td>
    </tr>
    <tr>
      <td><b>Fullname:</b></td>
      <td>&nbsp;&nbsp;</td>
      <td>{{metadata.fullname}}</td>
    </tr>
    <tr ng-repeat="(key, value) in metadata.body" class="popover-table-row"
        ng-class-even="popover-even-row">
      <td><b>{{key}}:</b></td>
      <td>&nbsp;&nbsp;</td>
      <td ng-if="isURL(value)"><a href="{{value}}" target="_blank">{{value}}</a></td>
      <td ng-if="!isURL(value)">{{value}}</td>
    </tr>
  </table>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="close();">Close</button>
</div>
