<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a ui-sref="home"><img class="navbar-brand" ng-src="/assets/images/transmart-logo.png"/></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
            <ul class="nav navbar-nav">
                <li><a ui-sref="home"></a></li>
                <li ui-sref-active-eq="active"><a ui-sref="workspace">Workspace &nbsp;</a></li>
                <li ui-sref-active-eq="active" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">SmartR <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a ui-sref="boxplot"> Boxplot </a></li>
                        <li><a ui-sref="correlation"> Correlation </a></li>
                        <li><a ui-sref="heatmap"> Heatmap </a></li>
                        <li><a ui-sref="timeline"> Timeline </a></li>
                        <li><a ui-sref="volcanoplot"> Volcano Plot</a></li>
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li ui-sref-active-eq="active"><a ui-sref="settings.connections"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Settings</a></li>
                <li ui-sref-active-eq="active"><a ui-sref="help"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                    Help</a></li>
            </ul>

        </div>
    </div>
</nav>
