<nav class="navbar navbar-fixed-top navbar-inverse" ng-controller="NavbarCtrl">
  <div class="container-fluid">
    <div class="navbar-header">
      <img class="navbar-brand" href="/#/" ng-src="/assets/images/transmart-logo.png">

      </img>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li class="active"><a ng-href="/#/">Main</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="" dropdown on-toggle="toggled(open)">
          <a href="#"  class="dropdown-toggle" dropdown-toggle> My Account</a>
          <ul class="dropdown-menu">
            <li ng-repeat="usermenu in usermenus">
              <a href="#" ng-click="{{usermenu.action + '()'}}">{{usermenu.label}}</a>
            </li>
          </ul>
        </li>
        <li><a ng-href="#"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> Help</a></li>
      </ul>
    </div>
  </div>
</nav>
