<script type="text/ng-template" id="conceptInput.html">
  <div class="well well-lg ts-node-well" data-drop="true" ng-model='droppedNode'
       jqyoui-droppable="{multiple:false, onDrop:'dropConcept(droppedNode, input)'}">
    <span ng-if="droppedNode !== undefined" >{{droppedNode.title}} - {{droppedNode.restObj.getRestangularUrl()}}</span>
    <span ng-if="droppedNode === undefined"> Drag and drop a high dimensional node.</span>
  </div>

</script>

<script type="text/ng-template" id="dropdownInput.html">
  <span>{{input.title[0]}}</span>
  <select class="form-control" ng-model="input.value" ng-options="opt for opt in input.options"></select>
</script>

<script type="text/ng-template" id="imageOutput.html">
  <img ng-src="http://localhost:8004/ocpu/tmp/{{step.return}}/files/{{output.filename[0]}}"/>
</script>

<script type="text/ng-template" id="infoOutput.html">
  <span ng-if="output.when[0] == 'RUNNING' && step.executing" class="text-info">
    {{output.message[0]}}
    <i class="glyphicon glyphicon-spin glyphicon-refresh"></i>
  </span>
  <span ng-if="output.when[0] == 'DONE' && step.done" class="text-success">
    {{output.message[0]}}
  </span>
</script>


<tabset  justified="true">
  <tab  ng-repeat="step in analysis"
        heading="{{step.name[0]}}"
        active="step.active"
        ng-click="setTab($index)"
        disabled="!step.active && !step.done">

    <div class="row">

      <div class="col-xs-6" id="stepInputs">
        <div class="panel panel-default">
          <div class="panel-heading">Input</div>
          <div class="panel-body">

            <div ng-repeat="input in step.inputs">
              <div ng-if="input.type[0] == 'CONCEPT'" ng-include src="'conceptInput.html'"></div>
              <div ng-if="input.type[0] == 'DROPDOWN'" ng-include src="'dropdownInput.html'"></div>
              <div ng-if="input.type[0] == 'IMAGE'" ng-include src="'imageOutput.html'"></div>
            </div>

            <br>
            <br>

            <button class="btn btn-default pull-right"
                    ng-click="step.exec()">
              Execute
            </button>

          </div>
        </div>
      </div>

      <div class="col-xs-6" id="stepOutputs">
        <div class="panel panel-default">
          <div class="panel-heading">Output</div>
          <div class="panel-body">

            <div ng-repeat="output in step.outputs">
              <div ng-if="output.type[0] == 'IMAGE'" ng-include src="'imageOutput.html'"></div>
              <div ng-if="output.type[0] == 'INFOTEXT'" ng-include src="'infoOutput.html'"></div>
              <br>
            </div>
            <br>
            <br>

            <button class="btn btn-default pull-right"
                    ng-if="step.done && !step.final[0]"
                    ng-click="nextTab()">
              Next
            </button>

          </div>
        </div>
      </div>

    </div>

    <br>

    <div class="row">
      <div class="col-xs-12">
        <div class="panel panel-default">
          <div class="panel-heading">Messages</div>
          <div class="panel-body">
            <span ng-repeat="line in step.messages" ng-class="{'text-success': line.type == 'MESSAGE',
                                                                'text-info': line.type == 'OTHER',
                                                                'text-warning': line.type == 'WARNING'}">
              {{line.message}}
              <br>
              <br>
            </span>
          </div>
        </div>
      </div>
    </div>




  </tab>
</tabset>
