  <div class="panel panel-default chart-container"
        id="cohort-chart-panel-{{tsLabel.ids}}">

    <div class="panel-heading chart-drag-handle">
      {{title | cutstring:false:cutOff:' ...'}}
      <i class="glyphicon glyphicon-link pull-right"
          ng-click="groupAction()"
          ng-class="{'text-success': groupOn}"
          ng-if="showGroupIcon"
          tooltip="Click two concepts to produce a combination chart."
          tooltip-trigger="mouseenter"
          popupDelay="1000"></i>
    </div>
    <!-- Body ---------------------------------------------------------------->
    <div class="panel-body inner-chart">

      <!-- Number chart only ------------------------------------------------->
      <div ng-if="number">
        <span class="number-display-title">
          HIGH DIMENSIONAL CONCEPT
        </span>
        <br>
        <span>
          Subjects selected:
        </span>
      </div>
      <!---------------------------------------------------------------------->

    </div>
    <!------------------------------------------------------------------------>
  </div>
