<!--<div ui-layout="{flow : 'column'}">-->

  <!--<div ui-layout-container size="15%" min-size="15%">-->
    <!--&lt;!&ndash;Side Bar&ndash;&gt;-->
    <!--<div ng-include="'app/components/sidebar/sidebar.html'"></div>-->
  <!--</div>-->

  <!--<div ui-layout-container min-size="50%">-->
    <div class="main-container">
      <!-- Alert ------------------------------------------------------------------------------------------------------>
      <alert class="alert-div" ng-repeat="alert in alerts" type="{{alert.type}}" close="close(alert.id)">
        {{alert.message}}
      </alert>

      <h3>Workspace</h3>
      <tabset>

        <!-- Cohort selection tab ------------------------------------------------------------------------------------->
        <tab active="tabs[0].active" ng-click="activateTab(tabs[0].title, 'cohortSelection');">
          <tab-heading>
            <span>{{tabs[0].title}}</span>
          </tab-heading>

          <div class="well well-lg ts-node-well" data-drop="true" ng-model='droppedNode'
               jqyoui-droppable="{multiple:true, onDrop:'onNodeDropEvent(droppedNode)'}">
            <h5 ng-if="cohortChartContainerLabels.length == 0">
              <small> Drag and drop some nodes here to add them.</small>
            </h5>
            <button type="button" class="btn btn-primary btn-sm ts-btn-node"
                    ng-repeat="label in cohortChartContainerLabels"
                    ng-click="removeLabel(label)">
              <div class="ts-node-name">
                {{label.name}}<br><span class="ts-smaller-font">{{label.study._embedded.ontologyTerm.name}}</span>
              </div>

              <div class="ts-node-close-x" aria-hidden="true">&times;</div>
            </button>
            <button ng-if="cohortChartContainerLabels.length >= 1" class="btn btn-danger ts-btn-node-reset"
                    ng-click="resetActiveLabels()">
              Reset<br>({{cohortVal.dimensions}}/{{cohortVal.maxdim}})
            </button>
          </div>
          <div id="main-chart-container">
            <progressbar max="100" value="cohortVal.selected/(cohortVal.total/100)"
                         ng-class="{'progress-striped': cohortUpdating}" class="progress active" animate="true">
              <div class="data-count">{{cohortVal.selected}}/{{cohortVal.total}}</div>
            </progressbar>

            <div gridster="gridsterOpts" id="ts-gridster-box">
              <ul>
                <li gridster-item="label" ng-repeat="label in cohortChartContainerLabels">
                  <ts-cohort-chart class="chart-container"
                                   ts-gridster-item="gridsterItem"
                                   ts-gridster="gridster"
                                   ts-label="label"></ts-cohort-chart>
                </li>
              </ul>
            </div>
          </div>
        </tab>

        <!-- Cohort subjects tab -------------------------------------------------------------------------------------->
        <tab active="tabs[1].active" ng-click="activateTab(tabs[1].title, 'cohortGrid');">
          <tab-heading>
            <span>{{tabs[1].title}}</span>
          </tab-heading>
          <cohort-grid cohort="cohortVal.subjects" headers="cohortLabels"></cohort-grid>
        </tab>


        <!-- Analysis tab -------------------------------------------------------------------------------------->
        <tab active="tabs[3].active" ng-click="activateTab(tabs[3].title, 'analysis');">
          <tab-heading>
            <span>{{tabs[3].title}}</span>
          </tab-heading>

          <analysis></analysis>
        </tab>


        <!-- Summary Statistics tab ----------------------------------------------------------------------------------->
        <tab active="tabs[2].active" ng-click="activateTab(tabs[2].title, 'summaryStats');">
          <tab-heading>{{tabs[2].title}}</tab-heading>
          <h3>{{selectedStudy.id}}</h3>

          <div class="summary-div">
            <span ng-repeat="concept in summaryStatistics.magicConcepts" id="summary-chart-{{concept}}">
              <h6>{{summaryStatistics.titles[$index]}}</h6>
            </span>
          </div>
        </tab>

      </tabset>
    </div>
  <!--</div>-->
