
    <div class="main-container as potato">
      <!-- Alert ------------------------------------------------------------------------------------------------------>
      <uib-alert class="alert-div" ng-repeat="alert in alerts" type="{{alert.type}}" close="close(alert.id)">
        {{alert.message}}
      </uib-alert>

      <h3>Workspace</h3>
      <uib-tabset>

        <!-- Cohort selection tab ------------------------------------------------------------------------------------->
        <uib-tab active="tabs[0].active" ng-click="activateTab(tabs[0].title, 'cohortSelection');">
          <uib-tab-heading>
            <span>{{tabs[0].title}}</span>
          </uib-tab-heading>

          <div class="well well-lg" data-drop="true" ng-model='droppedNode'
               jqyoui-droppable="{multiple:true, onDrop:'onNodeDropEvent(droppedNode)'}">

            <span ng-if="cohortChartContainerLabels.length == 0" class="ts-well-placeholder-text">
              Drag and drop some nodes here to add them.
            </span>

            <button type="button" class="btn btn-primary btn-sm ts-btn-node"
                    ng-repeat="label in cohortChartContainerLabels"
                    ng-click="removeLabel(label)">
              <div class="ts-node-name">
                {{label.name}}<br><span class="ts-smaller-font">{{label.study._embedded.ontologyTerm.name}}</span>
              </div>

              <div class="ts-node-close-x" aria-hidden="true">&times;</div>
            </button>
            <button ng-if="cohortChartContainerLabels.length >= 1" class="btn btn-danger ts-btn-node-reset"
                    ng-click="resetActiveLabels()">
              Reset<br>({{cs.dimensions}}/{{cs.maxDim}})
            </button>
            <button ng-if="cohortChartContainerLabels.length >= 1" class="btn" ng-click="openSaveCohortModal()">
              Save cohort
            </button>
          </div>

          <div id="main-chart-container">
            <uib-progressbar max="100" value="cs.selected/(cs.total/100)"
                         ng-class="{'progress-striped': cohortUpdating}" class="progress active" animate="true">
              <div class="data-count">{{cs.selected}}/{{cs.total}}</div>
            </uib-progressbar>

            <div gridster="gridsterOpts" id="ts-gridster-box">
              <ul>
                <li gridster-item="label" ng-repeat="label in cohortChartContainerLabels">
                  <ts-cohort-chart class="chart-container"
                                   ts-gridster-item="gridsterItem"
                                   ts-gridster="gridster"
                                   ts-label="label">
                  </ts-cohort-chart>
                </li>
              </ul>
            </div>
          </div>
        </uib-tab>

        <!-- Cohort subjects tab -------------------------------------------------------------------------------------->
        <uib-tab active="tabs[1].active" ng-click="activateTab(tabs[1].title, 'cohortGrid');">
          <uib-tab-heading>
            <span>{{tabs[1].title}}</span>
          </uib-tab-heading>
          <cohort-grid cohort="cs.subjects" headers="cs.labels"></cohort-grid>
        </uib-tab>

        <!-- Analysis tab -------------------------------------------------------------------------------------->
        <uib-tab active="tabs[2].active" ng-click="activateTab(tabs[2].title, 'analysis');">
          <uib-tab-heading>
            <span>{{tabs[2].title}}</span>
          </uib-tab-heading>

          <analysis></analysis>
        </uib-tab>

      </uib-tabset>
    </div>

