<div class="container-fluid" >
  <div class="row">

    <!--Side Bar-->
    <div ng-include="'app/components/sidebar/sidebar.html'"></div>

    <!--Main-->
    <div class="col-sm-10 col-sm-offset-3 col-md-10 col-md-offset-2 main" >
      <!-- Alert ------------------------------------------------------------------------------------------------------>
      <alert class="alert-div" ng-repeat="alert in alerts" type="{{alert.type}}" close="close(alert.id)">
        {{alert.message}}
      </alert>

      <h3>Workspace</h3>
      <tabset>

        <!-- Cohort selection tab ------------------------------------------------------------------------------------->
        <tab active="tabs[0].active" ng-click="activateTab(tabs[0].title, 'cohortSelection');">
          <tab-heading>
            <span>{{tabs[0].title}}</span>
          </tab-heading>

          <div class="well well-lg ts-node-well" data-drop="true" ng-model='droppedNode'
               jqyoui-droppable="{multiple:true, onDrop:'onNodeDropEvent(droppedNode)'}">
            <h5 ng-if="cohortChartContainerLabels.length == 0"><small>  Drag and drop some nodes here to add them.</small></h5>
            <button type="button" class="btn btn-primary btn-sm ts-btn-node" ng-repeat="label in cohortChartContainerLabels"
                    ng-click="removeLabel(label)">
              <div class="ts-node-name">
                {{label.name}}<br><span class="ts-smaller-font">{{label.study._embedded.ontologyTerm.name}}</span>
              </div>

              <div class="ts-node-close-x" aria-hidden="true">&times;</div>
            </button>
            <button ng-if="cohortChartContainerLabels.length >= 1" class="btn btn-danger ts-btn-node-reset"
                    ng-click="resetActiveLabels()">
               Reset<br>({{cohortVal.dimensions}}/{{cohortVal.maxdim}})
            </button>
          </div>
          <div id="main-chart-container">
            <progressbar max="100" value="cohortVal.selected/(cohortVal.total/100)"
                         ng-class="{'progress-striped': cohortUpdating}" class="progress active" animate="true">
              <div class="data-count">{{cohortVal.selected}}/{{cohortVal.total}}</div>
            </progressbar>

            <div gridster="gridsterOpts" id="ts-gridster-box">
              <ul>
                  <li gridster-item="label" ng-repeat="label in cohortChartContainerLabels">
                    <ts-cohort-chart  class="chart-container"
                                      ts-gridster-item="gridsterItem"
                                      ts-gridster="gridster"
                                      ts-label="label"></ts-cohort-chart>
                  </li>
              </ul>
            </div>
          </div>
        </tab>

        <!-- Cohort subjects tab -------------------------------------------------------------------------------------->
        <tab active="tabs[1].active" ng-click="activateTab(tabs[1].title, 'cohortGrid');">
            <tab-heading>
              <span>{{tabs[1].title}}</span>
            </tab-heading>
            <div class="btn-group ts-export-btn" dropdown>
                <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle ng-disabled="!cohortVal.selected">
                  Export cohort <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li ng-csv="getCsvFormatted()" filename="cohort.csv" csv-header="csvHeaders"><a href="#">Csv</a></li>
                  <li ng-csv="getCsvFormatted()" filename="cohort.txt" csv-header="csvHeaders"><a href="#">Text</a></li>
                </ul>
            </div>

          <img ng-show="dataLoading" class="loading-img"/>
          <table st-table="displayedCollection" st-safe-src="cohortVal.subjects" class="table table-striped">
            <thead>
            <tr>
              <th st-sort="iD" st-sort-default="true">ID</th>
              <th st-sort="sex">Sex</th>
              <th st-sort="age">Age</th>
              <th st-sort="race">Race</th>
              <th st-sort="inTrialId">Trial ID</th>
            </tr>
            <tr>
              <th colspan="1"><input st-search="" class="form-control" placeholder="ID search ..." type="text"/></th>
              <th></th>
              <th></th>
              <th></th>
              <th colspan="1"><input st-search="" class="form-control" placeholder="Trial ID search ..." type="text"/></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="row in displayedCollection">
              <td>{{row.id}}</td>
              <td>{{row.sex}}</td>
              <td>{{row.age}}</td>
              <td>{{row.race}}</td>
              <td>{{row.inTrialId}}</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
              <td colspan="5" class="text-center">
                <div st-pagination="" st-items-by-page="15"></div>
              </td>
            </tr>
            </tfoot>
          </table>

        </tab>

        <!-- Summary Statistics tab -------------------------------------------------------------------------------------->
        <tab active="tabs[2].active" ng-click="activateTab(tabs[2].title, 'summaryStats');">
          <tab-heading>{{tabs[2].title}}</tab-heading>
          <h3>{{selectedStudy.id}}</h3>
          <div class="summary-div">
            <span ng-repeat="concept in summaryStatistics.magicConcepts" id="summary-chart-{{concept}}">
              <h6>{{summaryStatistics.titles[$index]}}</h6>
            </span>
          </div>
        </tab>

      </tabset>
      </div>
  </div>
</div>
