<!--------------------------------------------------------------------------------------------------------------------->
<!-- START Node template -->

<script type="text/ng-template" id="nodes_renderer.html">
  <div ui-tree-handle class="tree-node tree-node-content" ng-click="populateChilds(node); naction()(node);" data-drag="true"
       jqyoui-draggable="{placeholder: 'keep'}"
       data-jqyoui-options="{containment: 'document', appendTo: 'body', helper: 'clone'}" ng-model="node">
    <a data-nodrag ng-click="toggle(this)">
      <span class="typcn" ng-class="{'typcn-folder': collapsed && type.fol(node),
                                     'typcn-folder-open': !collapsed && type.fol(node),
                                     'typcn-sort-numerically': type.num(node),
                                     'typcn-sort-alphabetically': type.cat(node),
                                     'typcn-chart-bar': type.hid(node)}">
      </span> &nbsp;
    </a>
     {{node.title | cutstring:false:divWidth:' ...'}} &nbsp; &nbsp; <small class="quantity-num">({{node.total}})</small>
  </div>
  <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
    <li ng-repeat="node in node.nodes"
        ui-tree-node
        ng-include="'nodes_renderer.html'"
        data-collapsed="treeConfig.collapsed">
    </li>
  </ol>
</script>
<!--------------------------------------------------------------------------------------------------------------------->
<!-- END Node template -->

<script type="text/ng-template" id="study-tooltip.html">
 <span>Summary <a class="glyphicon glyphicon-info-sign" ng-click="openMetadata(concept);"></a></span>
</script>

<hr>
<span><h4>{{title}}</h4></span>

<div ng-repeat="study in studies" ng-controller="StudyCtrl">
  <accordion-group  is-open="study.open">
    <!--heading-->
    <accordion-heading >
      <span>
        <a href="#" class="glyphicon glyphicon-folder-close" ng-click="getTree(study); saction()(study);"></a>&nbsp;
      </span>
      <b tooltip-template="'study-tooltip.html'" tooltip-trigger="click" tooltip-placement="right" ng-click="displayToolTip($event, study)">{{study._embedded.ontologyTerm.name}}</b>
      <span class="glyphicon glyphicon-spin" ng-class="{'glyphicon-refresh': treeLoading}"></span>
    </accordion-heading>
    <!--content-->
    <div ui-tree id="tree-root" data-drag-enabled="treeConfig.drag" data-drop-enabled="false">
      <ol ui-tree-nodes="" ng-model="tree.nodes">
        <li ng-repeat="node in tree.nodes" ui-tree-node ng-include="'nodes_renderer.html'"
          data-collapsed="treeConfig.collapsed"></li>
      </ol>
    </div>

  </accordion-group>

</div>
