
<script type="text/ng-template" id="tree-tooltip.html">
  <ul id="tree-tooltip">
    <li><a ng-click="displayMetadata(treeNode);"><i class="glyphicon glyphicon-info-sign"></i> &nbsp; Metadata </a></li>
    <li ng-if="treeNode.isStudy">
        <a ng-click="displaySummaryStatistics(treeNode);" >
            <i class="glyphicon glyphicon-stats"></i>  &nbsp; Summary Statistic
        </a>
    </li>
  </ul>
</script>

<!--------------------------------------------------------------------------------------------------------------------->
<!-- START Node template -->

<script type="text/ng-template" id="nodes_renderer.html">
  <div ui-tree-handle class="tree-node tree-node-content" ng-click="populateChilds(node); naction()(node);"
       data-drag="true" jqyoui-draggable="{placeholder: 'keep'}"
       data-jqyoui-options="{containment: 'document', appendTo: 'body', helper: 'clone'}" ng-model="node">
    <i data-nodrag ng-click="toggle(this)">
      <i class="glyphicon ts-node-icon" ng-class="{'glyphicon-folder-close': collapsed && type.fol(node),
                                     'glyphicon-folder-open': !collapsed && type.fol(node),
                                     'glyphicon-equalizer': type.num(node),
                                     '': type.cat(node),
                                     '': type.hid(node)}">
      </i> &nbsp;
    </i>
    <a popover-template="'tree-tooltip.html'" popover-placement="right"
        ng-click="displayToolTip($event, node)"> {{node.title | cutstring:false:divWidth:' ...'}}</a> &nbsp; &nbsp;
    <span class="quantity-num">({{node.total}})</span>
  </div>
  <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
    <li ng-repeat="node in node.nodes"
        ui-tree-node
        ng-include="'nodes_renderer.html'"
        data-collapsed="treeConfig.collapsed">
    </li>
  </ol>
</script>
<!--------------------------------------------------------------------------------------------------------------------->
<!-- END Node template -->

<span><h4>{{title}}</h4></span>

<div  ng-repeat="study in studies"
      ng-controller="StudyCtrl"
      class="ts-study-accordion">

      <!--<i class="glyphicon glyphicon-folder-close ts-node-icon"-->
         <!--ng-click="getTree(study); saction()(study);" >-->
      <!--</i>-->
  <accordion-group  is-open="study.open"
                    ng-if="studyShown === '' || study._embedded.ontologyTerm.name.includes(studyShown)">
    <!--heading-->
    <accordion-heading ng-click="getTree(study); saction()(study);" >
      <span ng-click="getTree(study); saction()(study);" >
      <a href="#" class="glyphicon glyphicon-folder-close ts-node-icon"
           ng-class="{
             'glyphicon-folder-close' : !opened,
             'glyphicon-folder-open' : opened
           }"
           >
      </a>
      &nbsp;
      <a popover-template="'tree-tooltip.html'" popover-placement="right"
         ng-click="displayToolTip($event, study)">{{study._embedded.ontologyTerm.name}}</a>
      <span class="glyphicon glyphicon-spin" ng-class="{'glyphicon-refresh': treeLoading}"></span>
    </span>
    </accordion-heading>
    <!--content-->
    <div ui-tree id="tree-root" data-drag-enabled="treeConfig.drag" data-drop-enabled="false" ng-if="!callFailure">
      <ol ui-tree-nodes="" ng-model="tree.nodes">
        <li ng-repeat="node in tree.nodes" ui-tree-node ng-include="'nodes_renderer.html'"
          data-collapsed="treeConfig.collapsed"></li>
      </ol>
    </div>
    <div ng-if="callFailure">
      <small>Data could not be loaded.</small>
    </div>
  </accordion-group>

</div>
    <hr>
