
<script type="text/ng-template" id="tree-tooltip.html">
  <ul id="tree-tooltip">
    <li><a ng-click="displayMetadata(treeNode);"><i class="glyphicon glyphicon-info-sign"></i> &nbsp; Metadata </a></li>
    <li ng-if="treeNode.isStudy">
        <!--<a ng-click="displaySummaryStatistics(treeNode);" >-->
            <!--<i class="glyphicon glyphicon-stats"></i>  &nbsp; Summary Statistic-->
        <!--</a>-->
    </li>
  </ul>
</script>

<!--------------------------------------------------------------------------------------------------------------------->
<!-- START Node template -->

<script type="text/ng-template" id="nodes_renderer.html">

  <div ui-tree-handle class="tree-node tree-node-content" ng-click="populateChilds(node);"
       data-drag="node.type !== 'FAILED_CALL'" jqyoui-draggable="{placeholder: 'keep'}"
       data-jqyoui-options="{containment: 'document', appendTo: 'body', helper: 'clone'}" ng-model="node"
       style="overflow-x: hidden !important; white-space: nowrap;">

    <!--icons-->
    <a data-nodrag ng-click="toggle(this)">
      <i  class="ts-node-icon"
          ng-class="{ 'glyphicon glyphicon-folder-close': collapsed && node.type === 'UNKNOWN',
                      'glyphicon glyphicon-folder-open': !collapsed && node.type === 'UNKNOWN',
                      'mdi mdi-blur': node.type === 'HIGH_DIMENSIONAL',
                      'mdi mdi-numeric': node.type === 'NUMERIC',
                      'mdi mdi-chart-pie': collapsed && node.type === 'CATEGORICAL_CONTAINER',
                      'mdi mdi-chart-arc': !collapsed && node.type === 'CATEGORICAL_CONTAINER',
                      'mdi mdi-tag': node.type === 'CATEGORICAL_OPTION',
                      'mdi mdi-alert text-danger': node.type === 'FAILED_CALL',
                      'mdi mdi-fullscreen': node.type === 'UNDEF'}">
      </i> &nbsp;
    </a>

    <!--node title-->
    <a  popover-template="'tree-tooltip.html'"
        popover-placement="right"
        ng-click="displayToolTip($event, node)"
        ng-class="{'text-grey': node.type === 'FAILED_CALL'}">
        {{node.title}}
      <span class="quantity-num">({{node.total}})</span>
    </a>

    <!--&lt;!&ndash;spaces&ndash;&gt;-->
    <!--&nbsp; &nbsp;-->

    <!--total subjects-->
    <!--<a class="quantity-num">({{node.total}})</a>-->

  </div>

  <!--node children-->
  <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
    <li ng-repeat="node in node.nodes"
        ui-tree-node
        ng-include="'nodes_renderer.html'"
        data-collapsed="treeConfig.collapsed">
    </li>
  </ol>

</script>
<!--------------------------------------------------------------------------------------------------------------------->
<!-- END Node template -->

<span><h4>{{title}}</h4></span>

<div  ng-repeat="study in studies"
      ng-controller="StudyCtrl"
      class="ts-study-accordion">

  <accordion-group  is-open="study.open"
                    ng-if="studyShown === '' || study._embedded.ontologyTerm.name.includes(studyShown)">
    <!--heading-->
    <accordion-heading ng-click="getTree(study);" >
      <span ng-click="getTree(study);" >
      <a class="glyphicon glyphicon-folder-close ts-node-icon"
           ng-class="{
             'glyphicon-folder-close' : !opened,
             'glyphicon-folder-open' : opened
           }"
           >
      </a>
      &nbsp;
      <a popover-template="'tree-tooltip.html'" popover-placement="right"
         ng-click="displayToolTip($event, study)">{{study._embedded.ontologyTerm.name}}</a>
      <span class="glyphicon glyphicon-spin" ng-class="{'glyphicon-refresh': treeLoading}"></span>
    </span>
    </accordion-heading>
    <!--content-->
    <div ui-tree id="tree-root" data-drag-enabled="treeConfig.drag" data-drop-enabled="false" ng-if="!callFailure">
      <ol ui-tree-nodes="" ng-model="tree.nodes">
        <li ng-repeat="node in tree.nodes" ui-tree-node ng-include="'nodes_renderer.html'"
          data-collapsed="treeConfig.collapsed"></li>
      </ol>
    </div>
    <div ng-if="callFailure">
      <small>Data could not be loaded.</small>
    </div>
  </accordion-group>

</div>

<hr>
