<div class="main-container">

  <!-- Alert ------------------------------------------------------------------------------------------------------>
  <alert class="alert-div" ng-repeat="alert in alerts" type="{{alert.type}}" close="close(alert.id)">
    {{alert.message}}
  </alert>

  <div class="col-md-4">

    <h3>Connect to endpoint</h3>
    <hr/>


    <form name="formData.endpointForm" role="form">
      <select class="form-control" ng-change="populateDefaultApi();"
              ng-model="selectedConnection"
              ng-options="connection.title for connection in connections">
        <option value=""> -- Please select study endpoint --</option>
      </select>

      <div class="checkbox">
        <label>
          <input type="checkbox" value="" ng-model="isConnectToOtherEndpoint">
          Connect to other endpoint
        </label>
      </div>

      <div class="panel panel-info" ng-show="isConnectToOtherEndpoint">
        <div class="panel-heading">New Endpoint</div>
        <div class="panel-body">
          <div class="form-group">
            <input type="text"
                   class="form-control"
                   placeholder="Enter connection's title"
                   ng-model="formData.title">
          </div>
          <div class="form-group">
            <input type="text"
                   class="form-control"
                   placeholder="Enter URI"
                   ng-model="formData.url">
          </div>
        </div>
      </div>

      <button type="button"
              class="btn btn-primary"
              ng-disabled="!selectedConnection.isOAuth"
              ng-click="navigateToAuthorizationPage()">
        Connect
      </button>
    </form>
  </div>

  <div class="col-md-8">
    <h3>Active connections</h3>

    <table class="table">
      <tr>
        <th>Status</th>
        <th>Name</th>
        <th>Url</th>
        <th>Expiration</th>
        <th></th>
      </tr>

      <tr ng-repeat="endpoint in endpoints">
        <td><i class="glyphicon"
               ng-class="getStatusIcon(endpoint)"></i></td>
        <td>{{endpoint.title}}</td>
        <td>{{endpoint.url}}</td>
        <td>{{endpoint.expiresAt | date:'dd-M H:mm'}}</td>
        <td><i class="glyphicon glyphicon-remove-circle text-danger"
               ng-click="removeEndpoint(endpoint)"></i></td>
      </tr>
    </table>
      <button class="btn btn-default" ng-click="clearSavedEndpoints()">
        Clear All
      </button>

  </div>

</div>
