<div class="panel panel-default chart-container"
     id="cohort-chart-panel-{{tsLabel.labelId}}">

    <div class="panel-heading chart-drag-handle">
        <section class="ts-study-title-container">
            <span class="ts-study-title">{{title}}</span>
        </section>

        <i class="glyphicon glyphicon-remove pull-right ts-icon ts-remove-chart"
           ng-click="removeChart(tsLabel)">
        </i>
        <i class="glyphicon glyphicon-refresh pull-right ts-icon"
           ng-click="clearFilter(tsLabel)"
           uib-tooltip="Clear filter"
           tooltip-trigger="mouseenter"
           tooltip-placement="top"
           popupDelay="1000"></i>
        <i ng-if="isBarChart" class="glyphicon glyphicon-filter pull-right ts-icon"
           ng-click="toggleFilterInput()"
           uib-tooltip="Specify filter"
           tooltip-trigger="mouseenter"
           tooltip-placement="top"
           popupDelay="1000"></i>
        <i class="glyphicon glyphicon-link pull-right ts-icon"
           ng-click="groupAction()"
           ng-class="{'text-success': groupOn}"
           ng-if="showGroupIcon"
           uib-tooltip="Click two concepts to produce a combination chart."
           tooltip-trigger="mouseenter"
           tooltip-placement="top"
           popupDelay="1000"></i>

    </div>

    <!-- Body ---------------------------------------------------------------->
    <div class="panel-body inner-chart">

        <!-- Number chart only ------------------------------------------------->
        <div ng-if="isNumberChart">
            <span class="number-display-title">
              HIGH DIMENSIONAL CONCEPT
            </span>
            <br>
            <span>
              Subjects selected:
            </span>
        </div>
        <!-- Bar chart only ------------------------------------------------->
        <div ng-if="filterOpt.showFilterInput">
            <div class="col-xs-5 chart-filter-div">
                <input class="form-control chart-filter-input" type="text" placeholder="min"
                ng-model="filterOpt.min" onfocus="this.select();">
            </div>
            <div class="col-xs-5 chart-filter-div">
                <input class="form-control chart-filter-input" type="text" placeholder="max"
                ng-model="filterOpt.max" onfocus="this.select();">
            </div>
            <button class="btn btn-default chart-filter-btn" ng-click="filterBarChart()">Filter</button>
        </div>

    </div>
    <!------------------------------------------------------------------------>
</div>
