<div class="col-sm-3 col-md-2 sidebar" ng-controller="SidebarCtrl">

  <!-- START STUDIES -->
  <accordion close-others="oneAtATime">
    <accordion-group heading=" Highlights" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
      Browse studies by clicking study header below.
    </accordion-group>

    <hr>

    <span><h4>Public studies</h4></span>
    <accordion-group ng-repeat="study in publicStudies">

      <div ng-controller="StudyCtrl">
        <accordion-heading>
          <span ng-click="getTree(study)">{{study._embedded.ontologyTerm.name}}</span>
        </accordion-heading>

        <script type="text/ng-template" id="nodes_renderer.html">
          <div ui-tree-handle class="tree-node tree-node-content">
            <a data-nodrag ng-click="toggle(this)"><span class="glyphicon" ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}"></span></a>
            {{node.title}}
          </div>
          <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
            <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer.html'">
            </li>
          </ol>
        </script>
        <div ui-tree id="tree-root">
          <ol ui-tree-nodes="" ng-model="tree.nodes[0].nodes">
            <li ng-repeat="node in tree.nodes[0].nodes" ui-tree-node ng-include="'nodes_renderer.html'"></li>
          </ol>
        </div>
      </div>

    </accordion-group>

    <span><h4>Private studies</h4></span>
    <accordion-group ng-repeat="study in privateStudies">

      <div ng-controller="StudyCtrl">
        <accordion-heading>
          <span ng-click="getTree(study)">{{study._embedded.ontologyTerm.name}}</span>
        </accordion-heading>

        <script type="text/ng-template" id="nodes_renderer.html">
          <div ui-tree-handle class="tree-node tree-node-content">
            <a data-nodrag ng-click="toggle(this)"><span class="glyphicon" ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}"></span></a>
            {{node.title}}
          </div>
          <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
            <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer.html'">
            </li>
          </ol>
        </script>
        <div ui-tree id="tree-root">
          <ol ui-tree-nodes="" ng-model="tree.nodes[0].nodes">
            <li ng-repeat="node in tree.nodes[0].nodes" ui-tree-node ng-include="'nodes_renderer.html'"></li>
          </ol>
        </div>
      </div>

    </accordion-group>


    <hr>

    <accordion-group>
      <accordion-heading>
        Resources
      </accordion-heading>

      <ul>
        <li><a href="http://localhost:8080/transmart-rest-api/" tooltip="http://localhost:8080/transmart-rest-api/">Local</a></li>
      </ul>

      <br>

      <form name="form" ng-submit="login()" role="form">
        <div class="form-group">
          <input type="text" class="form-control input-sm" placeholder="Title">
        </div>
        <div class="input-group input-group form-group">
          <span class="input-group-addon" id="sizing-addon1">http://</span>
          <input type="text" class="form-control input-sm" placeholder="Resource" aria-describedby="sizing-addon1">
        </div>
        <div class="form-group">
          <input type="text" class="form-control input-sm" placeholder="Client ID">
        </div>
        <div class="form-group">
          <input type="text" class="form-control input-sm" placeholder="Client Secret">
        </div>
        <div class="form-actions">
          <button type="submit" class="btn btn-primary">Add Resource</button>
        </div>
      </form>
    </accordion-group>
  </accordion>
</div>
  <!--end tree-->
  <br>

</div>
