<div class="col-sm-3 col-md-2 sidebar" ng-controller="SidebarCtrl">


  <accordion close-others="oneAtATime">
    <accordion-group heading=" Highlights" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
      Browse studies by clicking study header below.
    </accordion-group>
    <accordion-group ng-repeat="study in studies"
                     ng-click="getStudyConcepts('{{study._links.self.href}}', '{{study._embedded.ontologyTerm.name}}')">
      <accordion-heading>
        {{study._embedded.ontologyTerm.name}}
      </accordion-heading>
      <div>
        <!--{{study.id}} <br>-->
        <!--{{study._embedded.ontologyTerm.name | uppercase}} <br>-->
        <!--{{study._embedded.ontologyTerm.fullName}}-->

        <!--START DRAGGABLE TREE NODES-->
        <!-- Nested node template -->
        <script type="text/ng-template" id="nodes_renderer.html">
          <div ui-tree-handle class="tree-node tree-node-content">
            <a class="btn btn-success btn-xs" data-nodrag ng-click="toggle(this)"><span class="glyphicon" ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}"></span></a>
            {{node.title}}
            <!--<a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="remove(this)"><span class="glyphicon glyphicon-remove"></span></a>-->
            <!--<a class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="newSubItem(this)" style="margin-right: 8px;"><span class="glyphicon glyphicon-plus"></span></a>-->
          </div>
          <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
            <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer.html'">
            </li>
          </ol>
        </script>
        <div ui-tree id="tree-root">
          <ol ui-tree-nodes="" ng-model="data">
            <li ng-repeat="node in data" ui-tree-node ng-include="'nodes_renderer.html'"></li>
          </ol>
        </div>
        <!--END DRAGGABLE TREE NODES-->

      </div>
    </accordion-group>
    <accordion-group>
      <accordion-heading>
        Resources
      </accordion-heading>

      <ul>
        <li><a href="http://localhost:8080/transmart-rest-api/" tooltip="http://localhost:8080/transmart-rest-api/">Local</a></li>
      </ul>

      <br>

      <form name="form" ng-submit="login()" role="form">
        <div class="form-group">
          <input type="text" class="form-control input-sm" placeholder="Title">
        </div>
        <div class="input-group input-group form-group">
          <span class="input-group-addon" id="sizing-addon1">http://</span>
          <input type="text" class="form-control input-sm" placeholder="Resource" aria-describedby="sizing-addon1">
        </div>
        <div class="form-group">
          <input type="text" class="form-control input-sm" placeholder="Client ID">
        </div>
        <div class="form-group">
          <input type="text" class="form-control input-sm" placeholder="Client Secret">
        </div>
        <div class="form-actions">
          <button type="submit" class="btn btn-primary">Add Resource</button>
        </div>
      </form>
    </accordion-group>
  </accordion>
</div>
  <!--end tree-->
  <br>

</div>
