<hr>
<span><h4>{{title}}</h4></span>

<div ng-repeat="study in studies" ng-controller="StudyCtrl">

  <accordion-group>

    <accordion-heading>
      <div ng-click="getTree(study); action('{{study._links.self.href}}', '{{study._embedded.ontologyTerm.name}}')"
           popover-template="'PopoverTemplate'"
           popover-placement="right"
           popover-append-to-body="true"
           popover-trigger="mouseenter"
           popover-title="{{study._embedded.ontologyTerm.name}}">
        {{study._embedded.ontologyTerm.name}}
        <i class="glyphicon glyphicon-spin" ng-class="{'glyphicon-refresh': treeLoading}"></i>
      </div>
    </accordion-heading>

    <div ui-tree id="tree-root" data-drag-enabled="treeConfig.drag" data-drop-enabled="false">
      <ol ui-tree-nodes="" ng-model="tree.nodes[0].nodes">
        <li ng-repeat="node in tree.nodes[0].nodes" ui-tree-node ng-include="'nodes_renderer.html'" data-collapsed="treeConfig.collapsed"></li>
      </ol>
    </div>

  </accordion-group>
</div>
