
<div  id="sidebardiv"
      class="col-sm-3 col-md-2 sidebar"
      ng-controller="SidebarCtrl">

  <!-- START STUDIES -->
  <accordion close-others="status.oneAtATime">

    <accordion-group  heading="Highlights"
                      is-open="true"
                      ng-if="false">
      <span ng-if="publicStudies.length == 0 && privateStudies.length == 0">
        No studies loaded.
      </span>
      <span ng-if="publicStudies.length > 0 || privateStudies.length > 0">
        Browse studies by clicking the study headers below.
      </span>
    </accordion-group>

    <study-accordion  acc-studies="publicStudies"
                      acc-title="'Public studies'"
                      study-action="displayStudySummaryStatistics"
                      ng-if="publicStudies.length > 0">
    </study-accordion>



    <study-accordion  acc-studies="privateStudies"
                      acc-title="'Private studies'"
                      study-action="displayStudySummaryStatistics"
                      ng-if="privateStudies.length > 0">
    </study-accordion>

  </accordion>
</div>
  <!--end tree-->
<br>
