.info-icon {
  float: right;
  outline: none;
}
.accordion-toggle{
  outline:none !important;
}
.ts-selected-keywords {
  margin-left: .1em;
  margin-bottom: 1em;
}
.ts-selected-keywords li {
  margin-left: .2em;
}
.ts-selected-keywords li span {
  cursor:pointer;
}

.toggle-switch {
  float: right;
  height: 20px;
  font-size: 10px!important;
  line-height: 8px!important;
  min-width: 75px;
}

.toggle-switch span {
  line-height: 11px;
  width: 33%;
}

.switch-right {
  background: #7aaaf3;
  font-weight: 600;
}
