<div id="sidebardiv" class="left-bar">

  <span class="search-header">
    <label>Search studies</label>
    <toggle-switch
        ng-model="vm.searchMode"
        on-label="AND"
        off-label="OR"
        ng-show="vm.searchKeys.length > 1">
    </toggle-switch>
  </span>

    <input type="text"
           class="form-control"
           placeholder="Search term"
           bu-enter-key="vm.addSearchKey();"
           ng-model="vm.searchTerm"
           ng-disabled="vm.studies.length">

    <ul class="list-inline ts-selected-keywords">
        <li ng-repeat="searchKey in vm.searchKeys track by $index" class="label label-primary">
            {{searchKey}}
            <span class="glyphicon glyphicon-remove" aria-hidden="true"
                  ng-click="vm.removeSearchKey(searchKey);"></span>
        </li>
        <li class="label label-danger" ng-if="vm.searchKeys.length > 0">
            Clear
            <span class="glyphicon glyphicon-remove" aria-hidden="true" ng-click="vm.removeAllSearchKeys();"></span>
        </li>
    </ul>

    <!-- START STUDIES -->
    <uib-accordion close-others="true">
        <uib-accordion-group heading="Highlights" is-open="true" ng-if="false">
            <span ng-if="vm.studies.length">
            No studies loaded.
            </span>

            <span ng-if="vm.studies.length">
            Browse studies by clicking the study headers below.
            </span>
        </uib-accordion-group>

        <study-accordion studies="vm.studies"
                         title="'Studies'"
                         ng-if="vm.studies.length > 0"
                         study-shown='vm.searchTerm'>
        </study-accordion>
    </uib-accordion>

</div>
<!--end tree-->

