<div id="sidebardiv" class="left-bar">

  <span class="search-header">
    <label>Search studies</label>
    <toggle-switch
        ng-model="ws.searchMode"
        on-label="AND"
        off-label="OR"
        ng-show="ws.searchKeys.length > 1">
    </toggle-switch>
  </span>

    <input type="text"
           class="form-control"
           placeholder="Search term"
           bu-enter-key="ws.addSearchKey();"
           ng-model="ws.searchTerm"
           ng-disabled="ws.publicStudies.length == 0 && ws.privateStudies.length == 0">

    <ul class="list-inline ts-selected-keywords">
        <li ng-repeat="searchKey in ws.searchKeys track by $index" class="label label-primary">
            {{searchKey}}
            <span class="glyphicon glyphicon-remove" aria-hidden="true" ng-click="ws.removeSearchKey(searchKey);"></span>
        </li>
        <li class="label label-danger" ng-if="ws.searchKeys.length > 0">
            Clear
            <span class="glyphicon glyphicon-remove" aria-hidden="true" ng-click="ws.removeAllSearchKeys();"></span>
        </li>
    </ul>

    <uib-accordion close-others="true">

        <uib-accordion-group heading="Highlights"
                             is-open="true"
                             ng-if="false">
      <span ng-if="ws.publicStudies.length == 0 && ws.privateStudies.length == 0">
        No studies loaded.
      </span>
      <span ng-if="ws.publicStudies.length > 0 || ws.privateStudies.length > 0">
        Browse studies by clicking the study headers below.
      </span>
        </uib-accordion-group>

        <study-accordion studies="ws.publicStudies"
                         title="'Public studies'"
                         ng-if="ws.publicStudies.length > 0"
                         study-shown='ws.searchTerm'>
        </study-accordion>

        <study-accordion studies="ws.privateStudies"
                         title="'Private studies'"
                         ng-if="ws.privateStudies.length > 0"
                         study-shown='ws.searchTerm'>
        </study-accordion>

    </uib-accordion>
</div>


