.ts-export-btn {
  float: right;
}
.ts-cohort-grid {
  width: 100%;
  height: 640px;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0
}

.ts-cohort-grid.ui-grid-cell-contents {
  padding: 1px 1px;
}
.ts-cohort-grid .ui-grid-render-container-body .ui-grid-header-cell,
.ts-cohort-grid .ui-grid-render-container-left .ui-grid-header-cell,
.ts-cohort-grid .ui-grid-row,
.ts-cohort-grid .ui-grid-cell,
.ts-cohort-grid .ui-grid-cell .ui-grid-vertical-bar {
  font-size: .95em;
  line-height: 20px;
}
.ts-cohort-grid .ui-grid-render-container-body .ui-grid-header-cell,
.ts-cohort-grid .ui-grid-render-container-left .ui-grid-header-cell,
.ts-cohort-grid .ui-grid-header-cell {
  height: 55px !important;
}
.ts-cohort-grid .ui-grid-filter-container {
  padding: 1px 3px;
}
.ts-cohort-grid .ui-grid-pager-panel {
  background-color: #ccc ;
  position: fixed;
  font-size: .8em;
}
