<!-- Export button ----------------------------------------------------------->
<div  class="btn-group ts-export-btn"
      uib-dropdown>
  <button type="button"
          class="btn btn-primary btn-sm dropdown-toggle"
          uib-dropdown-toggle
          ng-disabled="cohort.length <= 0">
    Export cohort <span class="caret"></span>
  </button>
  <ul class="dropdown-menu"
      role="menu">
    <li ng-csv="getCsvFormatted()"
        filename="cohort.csv"
        csv-header="csvHeaders">
      <a href="#">Csv</a>
    </li>
    <li ng-csv="getCsvFormatted()"
        filename="cohort.txt"
        csv-header="csvHeaders">
      <a href="#">Text</a>
    </li>
  </ul>
</div>

<!-- Grid -------------------------------------------------------------------->
<table  st-table="displayedCollection"
        st-safe-src="cohort"
        class="table table-striped" ng-show="displayedCollection.length>0">
  <!-- Grid Head-------------------------------------------------------------->
  <thead>
    <tr>
      <th st-sort="id" st-sort-default="true">ID</th>
      <th ng-repeat="concept in headers track by $index"
          st-sort="getConceptValue(concept.ids)">
          {{concept.name}}
      </th>
    </tr>
  </thead>
  <!-- Grid body-------------------------------------------------------------->
  <tbody>
    <tr ng-repeat="row in displayedCollection">
      <td>{{row.id}}</td>
      <td ng-repeat="concept in headers track by $index">
          {{row.labels[concept.ids]}}
      </td>
    </tr>
  </tbody>
  <!-- Grid Foot-------------------------------------------------------------->
  <tfoot>
    <tr>
      <td colspan="{{headers.length+1}}" class="text-center">
        <div  st-pagination=""
              st-items-by-page="15">
        </div>
      </td>
    </tr>
  </tfoot>
</table>

<div ui-grid="{ data: myData }" class="myGrid"></div>
